```
# Microsoft Office files
*.xlsx
*.xls
*.docx
*.doc
*.pptx
*.ppt
*.accdb
*.mdb
*.pub
*.one
*.onetoc2
*.sldx
*.ppsx
*.potx
*.xltm
*.xltx
*.dotx
*.potx
*.ppam
*.ppsm
*.sldm
*.xlam
*.xltm
*.xlsm
*.xlsb
*.rtf
*.odt
*.ods
*.odp
*.odg
*.odf
*.odb
*.odc
*.odm
*.ott
*.ots
*.otp
*.otg
*.oth
*.odf
*.odi
*.oxt
```